---
import { Icon } from 'astro-icon/components';

const reviews = [
  {
    author: "Yann JOLLY",
    rating: 5,
    text: "Excellente expérience avec Anthony. Ponctuel, professionnel, véhicule très propre et conduite impeccable. En plus d'être sympathique, il sait rendre le trajet agréable et presque trop court. Un service sérieux et de qualité, que je recommande vivement.",
    date: "il y a un jour",
  },
  {
    author: "Brice ROBERT",
    rating: 5,
    text: "Bon trajet avec Anthony Gervais, ponctuel, met à l'aise dès le début, conduite agréable, contact et échange facile pendant le trajet, voiture confortable. Je recommande.",
    date: "il y a un mois",
  },
  {
    author: "Maude SORLAT",
    rating: 5,
    text: "Ponctuel, flexible et très sympathique, c'était un plaisir de faire ces trajets avec Anthony. Je recommande les yeux fermés !",
    date: "il y a 2 semaines",
  },
  {
    author: "Amélie Laurin",
    rating: 5,
    text: "Anthony est un excellent conducteur, ponctuel, fiable. Il est très sympathique et c'est agréable de discuter avec lui. Je recommande vivement de faire appel à lui pour vos déplacements. Le meilleur chauffeur de taxi que j'aie rencontré.",
    date: "il y a 3 mois",
  },
  {
    author: "Corentin Boisson",
    rating: 5,
    text: "Je recommande tres fortement Anthony, il conduit tres bien il est super sympathique c'est une tres bonne personne et jai passé un tres bon trajet a ses côté 👍",
    date: "il y a un mois",
  },
  {
    author: "Carine Bonnisseau",
    rating: 5,
    text: "Très bonne expérience a l'occasion d'un dépannage, véhicule spacieux et conduite très agréable",
    date: "il y a 2 semaines",
  },
  {
    author: "Charles Guesneau",
    rating: 5,
    text: "Taxi intervenu via l'assistance de notre assurance auto sur panne de notre véhicule. Intervention réactive un dimanche soir, appréciable. Aimable, courtois et attentif à ses passagers, Anthony a su rendre cet incident -initialement désagréable-beaucoup plus confortable. Merci.",
    date: "il y a 6 mois",
  },
  {
    author: "Benjamin Carboni",
    rating: 5,
    text: "Très professionnel ! Conducteur sympathique , vous pouvez  lui faire confiance ! Au top...",
    date: "il y a 3 mois",
  },
  {
    author: "Catherine Testa",
    rating: 5,
    text: "Super !! Je recommande +++. Un des rares taxis à prendre les réservations à la roche sur Yon !\nÀ l’heure.",
    date: "il y a 6 mois",
  },
  {
    author: "weslly godinho",
    rating: 5,
    text: "Il est top, très gentil et serviable, un vrai gentleman",
    date: "il y a 3 mois",
  },
  {
    author: "Patrick Quesne",
    rating: 5,
    text: 'Entreprise très professionnelle avec des personnes extrêmement sympathiques.  Nous pouvons noter la réactivité, et le sérieux. Bien que très professionnelle, cette entreprise garde un sens "humain" dans ses relations avec la clientèle....',
    date: "il y a un an",
  },
  {
    author: "Marion Foulquier",
    rating: 5,
    text: "En panne de voiture avec mes enfants, nous avons été ravis de tomber sur un chauffeur aussi professionnel, serviable et sympathique pour nous amener à destination. Recommandation +++ !",
    date: "il y a un an",
  },
  {
    author: "virginie rinaldi",
    rating: 5,
    text: "Très satisfaite de taxi Antony. Particulièrement pour Audrey qui malgré mon retard de train m'attendait à la gare.\nPersonne agréable, souriante au top.\nJe vous conseille vivement.",
    date: "il y a un an",
  },
  {
    author: "Karen Simonnet",
    rating: 5,
    text: "Nous remercions Audrey qui a déposé notre petite famille près de Melle hier soir. Conduite irréprochable, courtoisie, amabilité et serviabilité. Très prévenante à l'égard de notre petite Adèle un peu chamboulée par notre retour chaotique de...",
    date: "il y a un an",
  },
  {
    author: "Ludovic Afonso",
    rating: 5,
    text: "Tombé en panne fin avril, notre assurance nous a envoyé Anthony qui a été impeccable sur toute la ligne. Sérieux, professionnel, arrangeant, souriant et sympathique. ça fait du bien de tomber sur des personnes comme ça lors d'une journée...",
    date: "il y a un an",
  },
  {
    author: "Jérôme GORCE",
    rating: 5,
    text: "Au top ! Qualité de service, ponctualité, amabilité, échanges très sympathiques, conduite impeccable. Je vous conseille vivement ses services !!! Il m'a réconcilié avec la profession dont je n'avais pas forcément de bons souvenirs !\nFaites appel à ses services sans aucune hésitation !",
    date: "il y a un an",
  },
  {
    author: "Bob Dolonne",
    rating: 5,
    text: "Ce monsieur a récupéré mon fils en panne de voiture, qui l'a trouvé fort sympathique, agréable et prévenant. Il y a des cartes de visites à conserver, celle-ci en fait partie.",
    date: "il y a un an",
  },
  {
    author: "Sophie MEUNIER",
    rating: 5,
    text: "Quelle chance d'avoir connu Anthony G dans cette période de traitement si difficile! Je recommande à 400%, sa conduite est excellentissime! J'éspère avoir l'occasion de le croiser de nouveau! N'hésitez pas une seconde pour vos trajets!",
    date: "il y a un an",
  },
  {
    author: "Charlene Lepage",
    rating: 5,
    text: "Malgré notre journée compliqué, nous avons passée un agréable trajet en compagnie de Anthony! Très bon conducteur et très bon choix de playlist musicale! Merci beaucoup...",
    date: "il y a un an",
  },
  {
    author: "Julie Da Graça Neves",
    rating: 5,
    text: "Anthony a été super arrangeant, nous avons réservé 4 voyages avec lui sur un week-end. Hyper disponible et très réactif je vous le recommande vivement !",
    date: "il y a un an",
  },
  {
    author: "Maëlle Aboukinane",
    rating: 5,
    text: "Franchement super bon trajet avec Anthony il m'a très clairement sauvé la vie en me prenant, il est très agréable, très souriant et c'est très simple de lui parler et très à l'écoute je recommande vraiment!\nMerci pour tout encore une fois ! :)",
    date: "il y a un an",
  },
  {
    author: "Canal Franzo",
    rating: 5,
    text: "Anthony est un super chauffeur. À l'heure, il est fiable et vraiment très sympathique. Aux petits soins pour ses clients/passagers. Il cherche vraiment à faire au mieux malgré certains horaires contraignants. De passage pour un salon...",
    date: "il y a 3 ans",
  },
  {
    author: "Valentin Giraudet",
    rating: 5,
    text: "Je recommande fortement ce taxi!\nTrès sympathique, arrangeant et tarifs raisonnables ! Nous avons fait 3 courses dans le week-end avec ce même chauffeur !",
    date: "il y a un an",
  },
  {
    author: "Laurent Mathieu",
    rating: 5,
    text: "Je recommande vivement ce taxi qui a bien voulu accepter ma demande un dimanche soir entre la gare et l'hôtel Ibis.\nSans ça, j'étais pied !...",
    date: "il y a un an",
  },
  {
    author: "Jean-Philippe COUTANT",
    rating: 5,
    text: "Départ ce matin à 4h45 direction l'aéroport Nantes. Ponctualité, excellente conduite et échanges very sympathiques ont ponctué ce trajet.\nJe vous recommande vivement Anthony",
    date: "il y a un an",
  },
  {
    author: "romain Chartier",
    rating: 5,
    text: "Très bon conducteur à l’écoute bonne conduite et avec de la discution je valide",
    date: "il y a 7 mois",
  },
  {
    author: "Carole Charberet",
    rating: 5,
    text: "Bonjour ,\nArriver a 21h a la gare de la Roche sur Yon le seul taxi qui nous a répondu est celui ci....",
    date: "il y a un an",
  },
  {
    author: "Jlou",
    rating: 5,
    text: "un grand merci à anthony. les 700 kms en sa compagnie ont été des plus agréables. sympa et pro, je conseille vivement !! j espère que ton retour s'est bien passé",
    date: "il y a un an",
  },
  {
    author: "Pauline P",
    rating: 5,
    text: "Très bon voyage avec Anthony. Sourire, gentillesse et conduite impeccable. Je vous conseille vivement ses services !!!",
    date: "il y a un an",
  },
  {
    author: "Christelle AUBRET",
    rating: 5,
    text: "Choisi par mon assurance avec laquelle ils sont en partenariat. Très satisfaite. Ponctualité et amabilité. Je referai appel à cette société si besoin.",
    date: "il y a un an",
  },
  {
    author: "Laurent BOURRIEAU",
    rating: 5,
    text: "entreprise très réactive , et professionnelle .... les jeunes patrons sont sympas , et compétents , en plus , d'être très  corrects sur le prix des prestations . je les recommande vivement .",
    date: "il y a un an",
  },
  {
    author: "Valerie Ansart Lecas",
    rating: 5,
    text: "Alors que vos confrères s'annonçaient en repas de famille, vous étiez la seule à honorer ,ce samedi de  week end de Pâques, le métier de services qu'est le votre .Votre professionnalisme, courtoisie et réactivité sont à souligner . Cordialement.",
    date: "il y a un an",
  },
  {
    author: "Pascale Gamby",
    rating: 5,
    text: "Taxi très agréable et professionnel !\nOn a discuté pendant tout le trajet.\nJe recommande vivement !",
    date: "il y a un an",
  },
  {
    author: "Amaury Toulemonde",
    rating: 5,
    text: "Très professionnel et très sympa, avec de bons conseils si on ne connaît pas le coin.\nVive les Taxis indépendants et merci !",
    date: "il y a un an",
  },
  {
    author: "Nicolas Voron",
    rating: 5,
    text: "Une conductrice charmante, polie, aimable, très attentionnée et ponctuelle. Véhicule propre, confortable. Tout simplement parfait.",
    date: "il y a un an",
  },
  {
    author: "Anthony Rodriguez",
    rating: 5,
    text: "Service impeccable. Le seul 9 place de la zone. On a demandé pour aller à un festival à la dernière minute et même booké, il a réussie à nous trouver une place dans le planning. Que ce soit pour nous amener ou pour nous ramener....",
    date: "il y a un an",
  },
  {
    author: "danielle",
    rating: 5,
    text: "Bonjour !!\nMadame est une très agréable personne, à l'écoute,  empathique, souriante. De plus, elle conduit très bien 😉\nJe recommande vivement !!",
    date: "il y a un an",
  },
  {
    author: "Sonia Ouled Bouarif",
    rating: 5,
    text: "1ere experience cette semaine, Anthony est une personne tres sympathique et commerciale. Malgre le retard de mon train il a ete patient et m a ramene a bon port 😁. Je recommande.",
    date: "il y a un an",
  },
  {
    author: "Jordan Pinturier",
    rating: 5,
    text: "Super service, très gentil et très agréable ! Véhicule très confortable, propre et grand. Je recommande vivement ses services!",
    date: "il y a un an",
  },
  {
    author: "Marie Le Cocq",
    rating: 5,
    text: "Excellent. Très bon accueil et accompagnement durant le trajet. Je recommande !",
    date: "il y a un an",
  },
  {
    author: "Jessica Aucun",
    rating: 5,
    text: "Véhicule super propre, le conducteur conduit bien et prudemment, il a un réhausseur si vous en avez pas, les musiques sont bien et il réponds rapidement quand vous appelez, vous pouvez réserver les yeux fermés",
    date: "il y a un an",
  },
  {
    author: "G LY",
    rating: 5,
    text: "Un grand merci à Anthony qui nous a ramené de Vendrenne à Paris.\nSouple, sympa, pro nous avons fait un voyage à 7 sans encombres.\nJe le recommande vivement !...",
    date: "il y a 2 ans",
  },
  {
    author: "meheustleonie Léonie",
    rating: 5,
    text: "Après la mésaventure d’une panne sur notre voiture. Le taxi drive d’Anthony a été un bon moment, agréable, humour et reposant. Merci pour ce retour chez nous ! Bonne continuation.",
    date: "il y a 3 ans",
  },
  {
    author: "Bruno FILLETTE",
    rating: 5,
    text: "Merci Anthony pour avoir accepté cette (courte) course que d’autres ont refusé. Véhicule hyper confort, chauffeur hyper sympa et serviable.\nBon courage à vous et bonne continuation.",
    date: "il y a un an",
  },
  {
    author: "Arman Kasap",
    rating: 5,
    text: "Course au top!\nAnthony Gervais est une personne sérieuse, ponctuelle et très agréable!\nJe recommande vivement!...",
    date: "il y a 3 ans",
  },
  {
    author: "Morgane Nadal",
    rating: 5,
    text: "Nous avons fait appel à ce taxi pour pouvoir profiter pleinement de notre soirée du nouvel an. Il a était très gentil et agréable, serviable, à l'écoute et ponctuel. Nous avons pu réserver notre aller-retour, réactif à nos horaires et arrangeant. Nous recommandons sans hésiter !",
    date: "il y a 2 ans",
  },
  {
    author: "Delphine Michaud",
    rating: 5,
    text: "Ponctuel, sympathique, professionnel, et se plie en 4 pour trouver des solutions... Je sais qui appeler lors de mes prochains déplacements à la Roche-sur-Yon. Merci",
    date: "il y a un an",
  },
  {
    author: "jocelyn merlaud",
    rating: 5,
    text: "J'ai réservé ce taxi 2 jours avant pour une course très matinale jusqu'à l’aéroport de Nantes....",
    date: "il y a 3 ans",
  },
  {
    author: "Audrey Harel",
    rating: 5,
    text: "Anthony est ponctuel, professionnel, très sympathique. Les trajets sont passés très vite (2h AR). Je n'hésiterai pas à faire à nouveau appel à lui !",
    date: "il y a 2 ans",
  },
  {
    author: "Arnaud VANDAMME",
    rating: 5,
    text: "Accueil parfait, super sympathique, véhicule propre et conduite reposante, je recommande fortement !!!",
    date: "il y a un an",
  },
  {
    author: "taxi du coin 04",
    rating: 5,
    text: "Super trajet,  super véhicule,  disponible en temps et en heure , ce qui est très rare pour un dimanche bravo ....",
    date: "il y a un an",
  },
  {
    author: "Florbela Coutinho",
    rating: 5,
    text: "Les deux conducteurs très gentils, à l’écoute des clients. je recomende. Ils sont superbes.",
    date: "il y a un an",
  },
  {
    author: "Helene R",
    rating: 5,
    text: "Un taxi à recommander : très sympa, ponctuel, conduite douce, en mesure de communiquer plein d'informations sur la ville pour nous faciliter le séjour et flexible pour s'adapter au mieux au client !\n👍",
    date: "il y a 2 ans",
  },
  {
    author: "Raphael Mucha",
    rating: 5,
    text: "Prise en charge parfaite par Anthony. Arrangeant, ponctuel et super sympa 👌\nParfait 🤘",
    date: "il y a 11 mois",
  },
  {
    author: "Manu G (StormriseZ)",
    rating: 5,
    text: "Super taxi , je recommande vivement .\nVoyages fait de la roche à l’aéroport de nantes aller et retour , tout c’est extrêmement bien passé. un grand merci encore.",
    date: "il y a 2 ans",
  },
  {
    author: "Emilie Porée",
    rating: 5,
    text: "Un énorme merci à Anthony qui m'a conduit et rendu un très grand service un dimanche soir suite à une panne de voiture. De super échanges, la route est passée en un clin d'œil ! 😊",
    date: "il y a 3 ans",
  },
  {
    author: "Nolwenn P",
    rating: 5,
    text: "Très bonne prise en charge . Très bonne conduite rapide et efficace je recommande",
    date: "il y a 11 mois",
  },
  {
    author: "Cle Pascreau",
    rating: 5,
    text: "Un trajet bien géré et une conductrice très humaine ! Nous recommandons !",
    date: "il y a un an",
  },
  {
    author: "audrey figuet",
    rating: 5,
    text: "Taxi 7 places top pour les familles nombreuses avec bagages.\nChauffeur agréable et très professionnel, ce qui valorise vraiment la notion de service.\nJe recommande 👍",
    date: "il y a 3 ans",
  },
  {
    author: "Julien Poupinet",
    rating: 5,
    text: "Excellent service !\nMr Gervais est très arrangeant et fort sympathique.\nJe recommande vivement ses prestations.",
    date: "il y a un an",
  },
  {
    author: "Fabrice Plançon",
    rating: 5,
    text: "Je conseille fortement cette société très sérieuse et ponctuelle avec des bons tarifs\nUn petit plus pour la personne que j'ai eu au téléphone bonne continuation",
    date: "il y a 2 ans",
  },
  {
    author: "Mimi Dgs",
    rating: 5,
    text: "Je suis très satisfait\nA l'heure au lieu de rdv la course était très agréable le véhicule propre\nSi je dois reprendre un taxi ça sera sans aucune hésitation Anthony Gervais 👍",
    date: "il y a 2 ans",
  },
  {
    author: "Muriel Monachon",
    rating: 5,
    text: "Chauffeur ponctuel, très agréable et la voiture est spacieuse. Je conseille ce chauffeur",
    date: "il y a un an",
  },
  {
    author: "Louis Morin (“Mandrad”)",
    rating: 5,
    text: "Un grand merci à Anthony pour la prise en charge. Rapide, efficace. De plus un véhicule très spacieux, très pratique quand on a beaucoup de bagage !",
    date: "il y a 3 ans",
  },
  {
    author: "Newbo",
    rating: 5,
    text: "Chauffeur très sympathique m’a récupérer dans un camping après un accident de moto, je le remercie encore pour ça gentillesse",
    date: "il y a un an",
  },
  {
    author: "Loic L'Estimé",
    rating: 5,
    text: "Taxi au top.\nServiable arrangeant disponible\nJe le recommande il est super.\nMerci à toi Anthony 👍👍👍👍",
    date: "il y a un an",
  },
  {
    author: "Arnaud Lansmant",
    rating: 5,
    text: "il y a 2 semaines\nNOUVEAU\nTaxi super sympa, ponctuel.tres reactif quand on en a besoin, ce qui est très appréciable. Je le recommande",
    date: "il y a 3 ans",
  },
  {
    author: "Antoine IMG",
    rating: 5,
    text: "Taxi super sympa et ponctuel. Toujours là quand on en a besoin, ce qui est très appréciable. Je le recommande mille fois",
    date: "il y a 3 ans",
  },
  {
    author: "Vincent Fonteneau",
    rating: 5,
    text: "Sympathique un véhicule impeccable, une conduite douce un très bon trajet.\nMerci",
    date: "il y a un an",
  },
  {
    author: "Guillaume Coeurderoy",
    rating: 5,
    text: "Merci anthony pour le trajet de dimanche vous m'avez accompagné pour urgences vétérinaire vous êtes un super taxi prix raisonnable je vous recommande fortement a bientôt",
    date: "il y a 3 ans",
  },
  {
    author: "Cedric Imbert",
    rating: 5,
    text: "Excellent, ponctuelle, aimable et super agréable. Je recommande fortement",
    date: "il y a un an",
  },
  {
    author: "Sébastien",
    rating: 5,
    text: "Super trajet avec Anthony.\nTrès sympathique, voiture propre et spacieuse!\nJe recommande",
    date: "il y a 3 ans",
  },
  {
    author: "Alex Marquet",
    rating: 5,
    text: "À l'écoute,  sympas,  flexible. On pouvait pas trouver mieux ! Merci pour tout 🙏",
    date: "il y a un an",
  },
  {
    author: "thibaut josse",
    rating: 5,
    text: "chauffeur et chauffeuse EXCEPTIONNELLE, super gentil, gentille et vraiment sympathique !",
    date: "il y a un an",
  },
  {
    author: "Mimi Niz",
    rating: 5,
    text: "Service parfait. Anthony a été professionnel, ponctuel et très sympathique.\n\nServices :...",
    date: "il y a 2 ans",
  },
  {
    author: "Glands Corp",
    rating: 5,
    text: "Un grand grand merci à ce monsieur qui m'a emmené au travail ce matin après avoir raté mon train !...",
    date: "il y a 3 ans",
  },
  {
    author: "Jean-François CHANGEUR Avocat Droit pénal routier",
    rating: 5,
    text: "Service efficace et rapide depuis l'aérodrome.Vehicule très propre. Je recommande fortement.",
    date: "il y a 2 ans",
  },
  {
    author: "Alex",
    rating: 5,
    text: "Très ponctuelle, fiable. Conduite agréable. Top!",
    date: "il y a un an",
  },
  {
    author: "nicolas savary",
    rating: 5,
    text: "Super taxi, discussion très agréable sur le trajet.\nMerci 👍",
    date: "il y a un an",
  },
  {
    author: "Alexandre Denion",
    rating: 5,
    text: "M. Gervais est très professionnel et fort sympathique  !\nJe recommande sans hésiter !...",
    date: "il y a 3 ans",
  },
  {
    author: "pina colada",
    rating: 5,
    text: "Taximan super agréable je deviens une habituée et je resterai fidèle. Merci ne changez rien",
    date: "il y a 2 ans",
  },
  {
    author: "Maxime Yon",
    rating: 5,
    text: "Très bon voyage, grande voiture idéale pour 6 personnes et de nombreux bagages !",
    date: "il y a 3 ans",
  },
  {
    author: "Christopher Lemaire",
    rating: 5,
    text: "Je recommande et très cordiale et ont à bien rigoler 👍",
    date: "il y a un an",
  },
  {
    author: "Jonathan Drapeau",
    rating: 5,
    text: "Très bonne prestation avec du matériel qualité Et très bonne conductrice👌",
    date: "il y a un an",
  },
  {
    author: "Alexandre LE ROUGE",
    rating: 5,
    text: "Très bon trajet avec un chauffeur très sympathique ! Je recommande !",
    date: "il y a 3 ans",
  },
  {
    author: "le goff Esteban",
    rating: 5,
    text: "Taxi super accueillant et n’hésite pas à aider quand le client a un problème\n\nJe recommande",
    date: "il y a 2 ans",
  },
  {
    author: "charles agron",
    rating: 5,
    text: "Anthony gervais nous a sauvé ce lundi de pâques.\nUn service de qualite",
    date: "il y a un an",
  },
  {
    author: "Florian Mesnager",
    rating: 5,
    text: "Depuis la gare de la Roche sur Yon vers la Tranche-sur-Mer, bon taxi sympa et arrangeant.\nJe recommande.",
    date: "il y a 3 ans",
  },
  {
    author: "Laura Vallès-Dordal",
    rating: 5,
    text: "Excellent chauffeur de taxi, courtois, professionnel et ponctuel !",
    date: "il y a 2 ans",
  },
  {
    author: "Frederic Prioux",
    rating: 5,
    text: "Je conseille, super chauffeur, super sympas et super ponctuel.\nJe recommande",
    date: "il y a 2 ans",
  },
  {
    author: "younes salmi",
    rating: 5,
    text: "Une course très agréable !Anthony est souriant et très gentil.\nJe recommande !!!!",
    date: "il y a 3 ans",
  },
  {
    author: "Alexis Tournant",
    rating: 5,
    text: "Un voyage très agréable à l'aise , avec une superbe ambiance je vous le conseil 😃",
    date: "il y a 3 ans",
  },
  {
    author: "Sylvie BONNAUD",
    rating: 5,
    text: "Très agréable, très prudent en véhicule.\nUn vrai professionnel.",
    date: "il y a 2 ans",
  },
  {
    author: "Victor Gravot",
    rating: 5,
    text: "Juste devant la gare de La Roche sur Yon, nous étions 5 personnes et des valises, très bon service...",
    date: "il y a 3 ans",
  },
  {
    author: "Matys Daviet",
    rating: 5,
    text: "Très professionnel, très agréables, rien à dire je recommande,",
    date: "il y a 2 ans",
  },
  {
    author: "HORTENSE Darondel",
    rating: 5,
    text: "Chauffeur très sympa et ayant une très bonne conduite. Je recommande!",
    date: "il y a 3 ans",
  },
  {
    author: "Marion Mounier-Artic",
    rating: 5,
    text: "Très bon service, chauffeur agréable, je recommande !",
    date: "il y a 3 ans",
  },
  {
    author: "Rudy Macker",
    rating: 5,
    text: "A su éviter les travaux et les bouchons. Rapide efficace et très aimable, top !",
    date: "il y a 3 ans",
  },
  {
    author: "antony gouraud",
    rating: 5,
    text: "Au top je recommande, chauffeur très sympathique",
    date: "il y a 3 ans",
  },
  {
    author: "Stéphanie Auvinet",
    rating: 5,
    text: "Un service de qualité, Anthony est très professionnel. Merci",
    date: "il y a 3 ans",
  },
  {
    author: "Annie Motuku",
    rating: 5,
    text: "Professionnalisme, ponctualité, amabilité. Je recommande Taxi Anthony Gervais.",
    date: "il y a 3 ans",
  },
  {
    author: "Cousseau Laure",
    rating: 5,
    text: "Je recommande taxi ponctuel, agréable, bienveillant.",
    date: "il y a un an",
  },
  {
    author: "raphael figuet",
    rating: 5,
    text: "Très professionnel, ponctuelle et sympathique",
    date: "il y a 3 ans",
  },
  {
    author: "V V",
    rating: 5,
    text: "Taxi au top\nSympathique ponctuel et en plus arrangeant",
    date: "il y a 11 mois",
  },
  {
    author: "Charlotte B",
    rating: 5,
    text: "Très bon service, je recommande !",
    date: "il y a 3 ans",
  },
  {
    author: "Marine Lequeur",
    rating: 5,
    text: "Ponctuel et agréable que demander de plus!",
    date: "il y a un an",
  },
  {
    author: "Sophie Catanese",
    rating: 5,
    text: "Trajet impeccable ! Efficace et sympa. 👍",
    date: "il y a 3 ans",
  },
  {
    author: "Grégoire Bnx",
    rating: 5,
    text: "Merci pour ce voyage très agréable !",
    date: "il y a 3 ans",
  },
  {
    author: "thomas faille",
    rating: 5,
    text: "Super service, très cordial!",
    date: "il y a 3 ans",
  },
  {
    author: "Pierre-alexandre Martinat",
    rating: 5,
    text: "Très agréable",
    date: "il y a 11 mois",
  },
  {
    author: "Sébastien",
    rating: 5,
    text: "Chauffeur très agréable ! Au top !",
    date: "il y a 3 ans",
  },
  {
    author: "Frédérique Dolbeau",
    rating: 5,
    text: "Taxi ponctuel et sympathique. Je recommande !",
    date: "il y a 3 ans",
  },
  {
    author: "anaelle heinry",
    rating: 5,
    text: "Super trajet. Merci !",
    date: "il y a 3 ans",
  },
  {
    author: "bea Riou",
    rating: 5,
    text: "Personne très sympathique et ponctuel",
    date: "il y a 3 ans",
  },
  {
    author: "Eliot Gilles",
    rating: 5,
    text: "Bien",
    date: "il y a 2 ans",
  },
  {
    author: "Lionel CHOUTEAU",
    rating: 5,
    text: "SU-PER",
    date: "il y a un an",
  },
  {
    author: "saulnier henri",
    rating: 5,
    text: "Topissime!",
    date: "il y a un an",
  },
  {
    author: "Frederic Lamy",
    rating: 5,
    text: "Services :...",
    date: "il y a 3 ans",
  },
  {
    author: "Morgane Guivarch",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "CHATTON chloé",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Virginie Natali",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Art",
    rating: 5,
    text: "",
    date: "il y a 8 mois",
  },
  {
    author: "fourier bruno",
    rating: 5,
    text: "",
    date: "il y a un an",
  },
  {
    author: "Rémi CHAPELAIN",
    rating: 5,
    text: "",
    date: "il y a un an",
  },
  {
    author: "Michel Fleury",
    rating: 5,
    text: "",
    date: "il y a 2 ans",
  },
  {
    author: "Jyves Bougras",
    rating: 5,
    text: "",
    date: "il y a 2 ans",
  },
  {
    author: "Belhout Amine",
    rating: 5,
    text: "",
    date: "il y a 2 ans",
  },
  {
    author: "Taxi DUPRAT",
    rating: 5,
    text: "",
    date: "il y a 2 ans",
  },
  {
    author: "J B",
    rating: 5,
    text: "",
    date: "il y a 2 ans",
  },
  {
    author: "Stéphanie Brossard",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Eléna LARGANGE",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Corinne Amezcua",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "christophe david",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Macha HOLMAERT",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Aurore Le Goff",
    rating: 5,
    text: "",
    date: "il y a 3 ans",
  },
  {
    author: "Antoine Gervais",
    rating: 5,
    text: "Très bon voyage, grand taxi juste devant la gare de La Roche sur Yon avec un chauffeur fort sympathique !\nMerci pour cette course",
    date: "il y a 3 ans",
  },
];

const googleReviewsLink =
  "https://www.google.com/search?newwindow=1&sca_esv=454c728905f0b91c&sxsrf=AE3TifNwtmrLBlZ5EzZwWRMQLEtdpGMoMg:1764109083140&q=Taxi+Anthony+Gervais+-+La+Roche+sur+Yon+Avis&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxK2NDSwtDAyNbE0NjA0tDS3MDA32cDI-IpRJySxIlPBMa8kIz-vUsE9tagsMbNYQVfBJ1EhKD85I1WhuLRIITI_T8GxLLN4EStJygHgbYl_eAAAAA&rldimm=9109825493011978074&tbm=lcl&hl=fr-FR&sa=X&ved=2ahUKEwjXovu5qo6RAxWrUKQEHbQkLbEQ9fQKegQIKhAF&biw=1728&bih=911&dpr=2#lkt=LocalPoiReviews";
const writeReviewLink =
  "https://www.google.com/search?newwindow=1&sca_esv=454c728905f0b91c&sxsrf=AE3TifNwtmrLBlZ5EzZwWRMQLEtdpGMoMg:1764109083140&q=Taxi+Anthony+Gervais+-+La+Roche+sur+Yon+Avis&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxK2NDSwtDAyNbE0NjA0tDS3MDA32cDI-IpRJySxIlPBMa8kIz-vUsE9tagsMbNYQVfBJ1EhKD85I1WhuLRIITI_T8GxLLN4EStJygHgbYl_eAAAAA&rldimm=9109825493011978074&tbm=lcl&hl=fr-FR&sa=X&ved=2ahUKEwjXovu5qo6RAxWrUKQEHbQkLbEQ9fQKegQIKhAF&biw=1728&bih=911&dpr=2#lkt=LocalPoiReviews&lrd=0x48042f5059cd427d:0x7e6c9a051cc6d75a,3,,,,";
---

<section class='py-12 bg-gray-50'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='text-center mb-12'>
      <div class='flex flex-col items-center gap-5'>
        <h2 class='text-3xl font-bold text-slate-900'>
          Ce que nos clients disent
        </h2>
        <div
          class='bg-white px-6 py-3 rounded-lg shadow-md border border-gray-200 flex items-center gap-3'>
          <div class='text-center'>
            <div class='text-2xl font-bold text-slate-900'>5,0</div>
            <div class='text-yellow-400 text-sm flex gap-0.5'>
              <Icon name='lucide:star' size={14} fill='currentColor' />
              <Icon name='lucide:star' size={14} fill='currentColor' />
              <Icon name='lucide:star' size={14} fill='currentColor' />
              <Icon name='lucide:star' size={14} fill='currentColor' />
              <Icon name='lucide:star' size={14} fill='currentColor' />
            </div>
          </div>
          <div class='text-gray-600 text-sm border-l border-gray-300 pl-3'>
            <div class='font-semibold'>136 avis</div>
            <div class='text-xs text-gray-500'>Google</div>
          </div>
        </div>
      </div>
      <div class='w-20 h-1 bg-yellow-400 mx-auto mt-6 mb-6'></div>
      <p class='text-gray-600 mx-auto'>
        La satisfaction de nos clients est notre priorité.
        <br />
        Découvrez leurs témoignages sur Google.
      </p>
    </div>

    <div class='relative mb-12'>
      <!-- Bouton précédent -->
      <button
        id='prevBtn'
        aria-label='Avis précédents'
        class='absolute left-0 top-1/2 -translate-y-1/2 -translate-x-4 z-10 bg-white rounded-full w-12 h-12 shadow-lg hover:shadow-xl transition flex items-center justify-center text-slate-700 hover:text-yellow-400 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer'>
        <Icon name='lucide:chevron-left' size={20} />
      </button>

      <!-- Container du slider -->
      <div class='overflow-hidden -mx-4 p-4' id='sliderContainer' tabindex='0' role='region' aria-label='Avis clients' aria-roledescription='carrousel'>
        <div
          id='reviewsSlider'
          class='flex transition-transform duration-500 ease-in-out py-4'>
          {
            reviews.map((review, index) => (
              <div
                class='w-full md:w-1/2 lg:w-1/3 flex-shrink-0 px-4'
                data-index={index}>
                <div class='bg-white p-6 md:p-8 rounded-xl shadow-md hover:shadow-lg transition border border-gray-100 flex flex-col h-full'>
                  <div class='flex items-center mb-4'>
                    <div class='text-yellow-400 text-sm flex'>
                      {[...Array(review.rating)].map(() => (
                        <Icon name='lucide:star' size={14} fill='currentColor' />
                      ))}
                    </div>
                    <span class='text-gray-500 text-xs ml-auto'>
                      {review.date}
                    </span>
                  </div>
                  <div class='mb-6 grow relative'>
                    <p
                      class='text-gray-600 italic review-text overflow-hidden'
                      style='display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;'>
                      "{review.text}"
                    </p>
                    <button class='absolute bottom-0 right-0 bg-white pl-2 text-yellow-500 text-sm font-bold hidden hover:text-yellow-600 transition-colors focus:outline-none shadow-[0_0_10px_10px_rgba(255,255,255,1)]'>
                      Voir plus
                    </button>
                  </div>
                  <div class='flex items-center mt-auto'>
                    <div class='w-10 h-10 bg-slate-200 rounded-full flex items-center justify-center text-slate-600 font-bold mr-3'>
                      {review.author.charAt(0)}
                    </div>
                    <div>
                      <p class='font-bold text-slate-900 text-sm'>
                        {review.author}
                      </p>
                      <p class='text-xs text-gray-500'>Client Google</p>
                    </div>
                    <Icon name='simple-icons:google' class='text-slate-300 ml-auto' size={20} />
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <!-- Bouton suivant -->
      <button
        id='nextBtn'
        aria-label='Avis suivants'
        class='absolute right-0 top-1/2 -translate-y-1/2 translate-x-4 z-10 bg-white rounded-full w-12 h-12 shadow-lg hover:shadow-xl transition flex items-center justify-center text-slate-700 hover:text-yellow-400 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer'>
        <Icon name='lucide:chevron-right' size={20} />
      </button>

      <!-- Pagination -->
      <div class='mt-8'>
        <div class='flex justify-center items-center gap-4'>
          <div class='text-sm text-slate-600 font-medium' id='pagination' aria-live='polite'>
            <!-- Sera rempli par JavaScript -->
          </div>
        </div>
        <!-- Barre de progression -->
        <div
          class='max-w-xs mx-auto mt-3 h-1 bg-gray-200 rounded-full overflow-hidden'>
          <div
            id='progressBar'
            class='h-full bg-yellow-400 transition-all duration-500 ease-in-out'
            style='width: 0%'>
          </div>
        </div>
      </div>
    </div>

    <script>
      const slider = document.getElementById("reviewsSlider");
      const prevBtn = document.getElementById(
        "prevBtn"
      ) as HTMLButtonElement | null;
      const nextBtn = document.getElementById(
        "nextBtn"
      ) as HTMLButtonElement | null;
      const pagination = document.getElementById("pagination");
      const progressBar = document.getElementById("progressBar");
      const reviewCards = document.querySelectorAll("#reviewsSlider > div");

      if (!slider || !prevBtn || !nextBtn || !pagination || !progressBar) {
        throw new Error("Required elements not found");
      }

      const totalReviews = reviewCards.length;
      let currentIndex = 0;

      function getReviewsPerPage() {
        const width = window.innerWidth;
        if (width >= 1024) return 3; // lg breakpoint
        if (width >= 768) return 2; // md breakpoint
        return 1; // mobile
      }

      function collapseAllReviews() {
        const reviewsText = document.querySelectorAll(".review-text");
        reviewsText.forEach((el) => {
          const review = el as HTMLElement;
          const btn = review.nextElementSibling as HTMLButtonElement | null;
          if (!btn) return;

          // Replier tous les avis
          review.style.display = "-webkit-box";
          review.style.webkitLineClamp = "5";
          review.style.webkitBoxOrient = "vertical";
          btn.textContent = "Voir plus";
          // Remettre le positionnement absolu
          btn.classList.add(
            "absolute",
            "bottom-0",
            "right-0",
            "pl-2",
            "shadow-[0_0_10px_10px_rgba(255,255,255,1)]"
          );
          btn.classList.remove("mt-2", "inline-block");
        });
      }

      function updateSlider() {
        // TypeScript check
        if (!slider || !prevBtn || !nextBtn || !pagination || !progressBar)
          return;

        const reviewsPerPage = getReviewsPerPage();
        const maxIndex = Math.max(0, totalReviews - reviewsPerPage);

        // Ensure index is within bounds
        if (currentIndex > maxIndex) currentIndex = maxIndex;
        if (currentIndex < 0) currentIndex = 0;

        // Calculate offset based on single item width
        // 100% / reviewsPerPage is the width of one item in percentage of the container view
        const offset = currentIndex * (100 / reviewsPerPage);
        slider.style.transform = `translateX(-${offset}%)`;

        // Update buttons
        prevBtn.disabled = currentIndex === 0;
        nextBtn.disabled = currentIndex >= maxIndex;

        // Update pagination
        pagination.textContent = `${currentIndex + 1} / ${totalReviews}`;

        // Update progress bar
        // We want the bar to be full when we reach the end
        const progress = maxIndex > 0 ? (currentIndex / maxIndex) * 100 : 100;
        progressBar.style.width = `${progress}%`;
      }

      function handleResize() {
        updateSlider();
      }

      prevBtn.addEventListener("click", () => {
        if (currentIndex > 0) {
          collapseAllReviews();
          currentIndex--;
          updateSlider();
        }
      });

      nextBtn.addEventListener("click", () => {
        const reviewsPerPage = getReviewsPerPage();
        const maxIndex = totalReviews - reviewsPerPage;
        if (currentIndex < maxIndex) {
          collapseAllReviews();
          currentIndex++;
          updateSlider();
        }
      });

      // Handle resize with debounce
      let resizeTimeout: ReturnType<typeof setTimeout>;
      window.addEventListener("resize", () => {
        clearTimeout(resizeTimeout);
        resizeTimeout = setTimeout(handleResize, 150);
      });

      // Touch swipe handling
      let touchStartX = 0;
      let touchEndX = 0;

      slider.addEventListener(
        "touchstart",
        (e) => {
          touchStartX = e.changedTouches[0].screenX;
        },
        { passive: true }
      );

      slider.addEventListener(
        "touchend",
        (e) => {
          touchEndX = e.changedTouches[0].screenX;
          handleSwipe();
        },
        { passive: true }
      );

      function handleSwipe() {
        const threshold = 50;
        const swipeDistance = touchEndX - touchStartX;

        if (Math.abs(swipeDistance) < threshold) return;

        const reviewsPerPage = getReviewsPerPage();
        const maxIndex = totalReviews - reviewsPerPage;

        if (swipeDistance < 0) {
          // Swipe left -> Next
          if (currentIndex < maxIndex) {
            collapseAllReviews();
            currentIndex++;
            updateSlider();
          }
        } else {
          // Swipe right -> Prev
          if (currentIndex > 0) {
            collapseAllReviews();
            currentIndex--;
            updateSlider();
          }
        }
      }

      // Initialize
      updateSlider();

      // Gestion des boutons "Voir plus"
      function initReadMore() {
        const reviewsText = document.querySelectorAll(".review-text");

        reviewsText.forEach((el) => {
          const review = el as HTMLElement;
          const btn = review.nextElementSibling as HTMLButtonElement | null;
          if (!btn) return;

          // Réinitialiser l'état
          // On vérifie si le texte dépasse la hauteur visible définie par le line-clamp
          if (review.scrollHeight > review.clientHeight) {
            btn.classList.remove("hidden");

            // S'assurer qu'on n'ajoute pas plusieurs event listeners
            btn.onclick = (e) => {
              e.preventDefault();
              // On vérifie si on a le style inline line-clamp
              const isCollapsed = review.style.webkitLineClamp !== "unset";

              if (isCollapsed) {
                // Déplier
                review.style.display = "block";
                review.style.webkitLineClamp = "unset";
                review.style.webkitBoxOrient = "unset";
                btn.textContent = "Voir moins";
                // Retirer le positionnement absolu et afficher le bouton en dessous du texte
                btn.classList.remove(
                  "absolute",
                  "bottom-0",
                  "right-0",
                  "pl-2",
                  "shadow-[0_0_10px_10px_rgba(255,255,255,1)]"
                );
                btn.classList.add("mt-2", "inline-block");
              } else {
                // Replier
                review.style.display = "-webkit-box";
                review.style.webkitLineClamp = "5";
                review.style.webkitBoxOrient = "vertical";
                btn.textContent = "Voir plus";
                // Remettre le positionnement absolu
                btn.classList.add(
                  "absolute",
                  "bottom-0",
                  "right-0",
                  "shadow-[0_0_10px_10px_rgba(255,255,255,1)]"
                );
                btn.classList.remove("mt-2", "inline-block");
              }
            };
          }
        });
      }

      // Initialiser au chargement et au redimensionnement
      window.addEventListener("load", initReadMore);
      // On lance aussi immédiatement au cas où le DOM est déjà prêt
      initReadMore();

      // Ré-vérifier au redimensionnement (optionnel, mais utile si le layout change)
      let resizeTimeoutReadMore: ReturnType<typeof setTimeout>;
      window.addEventListener("resize", () => {
        clearTimeout(resizeTimeoutReadMore);
        resizeTimeoutReadMore = setTimeout(initReadMore, 200);
      });

      // Navigation clavier du carrousel
      const sliderContainer = document.getElementById("sliderContainer");
      if (sliderContainer) {
        sliderContainer.addEventListener("keydown", (e) => {
          if (e.key === "ArrowLeft" || e.key === "ArrowUp") {
            e.preventDefault();
            prevBtn.click();
          } else if (e.key === "ArrowRight" || e.key === "ArrowDown") {
            e.preventDefault();
            nextBtn.click();
          }
        });
      }
    </script>

    <div class='flex flex-col sm:flex-row justify-center items-center gap-4'>
      <a
        href={writeReviewLink}
        target='_blank'
        rel='noopener noreferrer'
        class='bg-yellow-400 text-slate-900 px-8 py-3 rounded-full font-bold hover:bg-yellow-500 transition shadow-lg flex items-center'>
        <Icon name='lucide:pen' class='mr-2' size={16} />
        Donnez votre avis
      </a>
      <a
        href={googleReviewsLink}
        target='_blank'
        rel='noopener noreferrer'
        class='text-slate-600 hover:text-slate-900 font-medium px-6 py-3 transition flex items-center'>
        <Icon name='simple-icons:google' class='mr-2' size={16} />
        Voir tous les avis
      </a>
    </div>
  </div>
</section>
