---
interface Props {
  title: string;
  description?: string;
}

import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";

const { title, description } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang='fr' class='scroll-smooth scroll-pt-12'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta
      name='description'
      content={description ||
        "Votre chauffeur de confiance à La Roche-sur-Yon. Anthony Gervais vous accompagne 7j/7 pour vos trajets privés, professionnels et médicaux (CPAM). Véhicule 8 places, déplacements Nantes, Les Sables, toute la Vendée. ☎️ 06 33 96 80 23"}
    />
    <link rel='canonical' href={new URL(Astro.url.pathname, Astro.site)} />

    <script type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Taxi Anthony Gervais",
        "image": "https://taxi-gervais-85.fr/social-image.webp",
        "telephone": "06 33 96 80 23",
        "email": "tag85@gmx.fr",
        "url": "https://taxi-gervais-85.fr",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Stationnement Place Napoléon",
          "addressLocality": "La Roche-sur-Yon",
          "postalCode": "85000",
          "addressCountry": "FR"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 46.6705,
          "longitude": -1.426
        },
        "areaServed": {
          "@type": "City",
          "name": "La Roche-sur-Yon"
        },
        "priceRange": "$$",
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5.0",
          "reviewCount": "136"
        },
        "review": [
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Amélie Laurin"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Anthony est un excellent conducteur, ponctuel, fiable. Il est très sympathique et c'est agréable de discuter avec lui. Je recommande vivement de faire appel à lui pour vos déplacements. Le meilleur chauffeur de taxi que j'aie rencontré."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Catherine Testa"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Super !! Je recommande +++. Un des rares taxis à prendre les réservations à la roche sur Yon ! À l'heure !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Jean-Luc Moreau"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Chauffeur très agréable, ponctuel et disponible. Une course parfaite depuis la gare."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Valentin Giraudet"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Je recommande fortement ce taxi! Très sympathique, arrangeant et tarifs raisonnables ! Nous avons fait 3 courses dans le week-end avec ce même chauffeur !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Jean-Philippe Coutant"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Départ ce matin à 4h45 direction l'aéroport Nantes. Ponctualité, excellente conduite et échanges très sympathiques ont ponctué ce trajet. Je vous recommande vivement Anthony"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Sophie Meunier"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Quelle chance d'avoir connu Anthony G dans cette période de traitement si difficile! Je recommande à 400%, sa conduite est excellentissime! J'éspère avoir l'occasion de le croiser de nouveau! N'hésitez pas une seconde pour vos trajets!"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Julie Da Graça Neves"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Anthony a été super arrangeant, nous avons réservé 4 voyages avec lui sur un week-end. Hyper disponible et très réactif je vous le recommande vivement !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Jérôme GORCE"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Au top ! Qualité de service, ponctualité, amabilité, échanges très sympathiques, conduite impeccable. Je vous conseille vivement ses services !!! Il m'a réconcilié avec la profession dont je n'avais pas forcément de bons souvenirs ! Faites appel à ses services sans aucune hésitation !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Marion Foulquier"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "En panne de voiture avec mes enfants, nous avons été ravis de tomber sur un chauffeur aussi professionnel, serviable et sympathique pour nous amener à destination. Recommandation +++ !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Laurent Mathieu"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Je recommande vivement ce taxi qui a bien voulu accepter ma demande un dimanche soir entre la gare et l'hôtel Ibis. Sans ça, j'étais pied ! Donc, très bon accueil, très bon service et très \"commerçant\"."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Maëlle Aboukinane"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Franchement super bon trajet avec Anthony il m'a très clairement sauvé la vie en me prenant, il est très agréable, très souriant et c'est très simple de lui parler et très à l'écoute je recommande vraiment! Merci pour tout encore une fois !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Audrey Harel"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Anthony est ponctuel, professionnel, très sympathique. Les trajets sont passés très vite (2h AR). Je n'hésiterai pas à faire à nouveau appel à lui !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Brice ROBERT"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Bon trajet avec Anthony Gervais, ponctuel, met à l'aise dès le début, conduite agréable, contact et échange facile pendant le trajet, voiture confortable. Je recommande."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Corentin Boisson"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Je recommande très fortement Anthony, il conduit très bien il est super sympathique c'est une très bonne personne et j'ai passé un très bon trajet à ses côtés 👍"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Benjamin Carboni"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Très professionnel ! Conducteur sympathique, vous pouvez lui faire confiance ! Au top"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "weslly godinho"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Il est top, très gentil et serviable, un vrai gentleman"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Charles Guesneau"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Taxi intervenu via l'assistance de notre assurance auto sur panne de notre véhicule. Intervention réactive un dimanche soir, appréciable. Aimable, courtois et professionnel."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "romain Chartier"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Très bon conducteur à l'écoute bonne conduite et avec de la discussion je valide"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Raphael Mucha"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Prise en charge parfaite par Anthony. Arrangeant, ponctuel et super sympa 👌 Parfait 🤘"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Nolwenn P"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Très bonne prise en charge. Très bonne conduite rapide et efficace je recommande"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Bob Dolonne"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Ce monsieur a récupéré mon fils en panne de voiture, qui l'a trouvé fort sympathique, agréable et prévenant. Il y a des cartes de visites à conserver, celle-ci en fait partie."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Ludovic Afonso"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Tombé en panne fin avril, notre assurance nous a envoyé Anthony qui a été impeccable sur toute la ligne. Sérieux, professionnel, arrangeant, souriant."
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Pascale Gamby"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Taxi très agréable et professionnel ! On a discuté pendant tout le trajet. Je recommande vivement !"
          },
          {
            "@type": "Review",
            "author": {
              "@type": "Person",
              "name": "Delphine Michaud"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            },
            "reviewBody": "Ponctuel, sympathique, professionnel, et se plie en 4 pour trouver des solutions... Je sais qui appeler lors de mes prochains déplacements à la Roche-sur-Yon. Merci"
          }
        ]
      }
    </script>

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta
      property='og:description'
      content={description ||
        "Votre chauffeur de confiance à La Roche-sur-Yon. Anthony Gervais vous accompagne 7j/7 pour vos trajets privés, professionnels et médicaux (CPAM). Véhicule 8 places, déplacements Nantes, Les Sables, toute la Vendée. ☎️ 06 33 96 80 23"}
    />
    <meta property='og:image' content='/social-image.webp' />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta
      property='twitter:description'
      content={description ||
        "Votre chauffeur de confiance à La Roche-sur-Yon. Anthony Gervais vous accompagne 7j/7 pour vos trajets privés, professionnels et médicaux (CPAM). Véhicule 8 places, déplacements Nantes, Les Sables, toute la Vendée. ☎️ 06 33 96 80 23"}
    />
    <meta property='twitter:image' content='/social-image.webp' />
    <!-- Font Awesome (Optimized) -->
    <link
      rel='stylesheet'
      href='/css/fontawesome.css'
      media='print'
      onload="this.media='all'"
    />
    <noscript><link rel='stylesheet' href='/css/fontawesome.css' /></noscript>
  </head>
  <body class='bg-gray-50 text-gray-800 font-sans antialiased'>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  body {
    font-family: "Inter", sans-serif;
  }
  .taxi-yellow {
    color: #fbbf24;
  }
  .bg-taxi-yellow {
    background-color: #fbbf24;
  }
</style>
